<div data-role="view" data-title="View" data-layout="main" data-model="app.principal" data-show="app.principal.onShow" data-after-show="app.principal.afterShow" id="principalScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text cabeceras-principales"> 
            <span>Home</span> 
            <a data-role="button" href="#appDrawer" class="btn-navegacion" data-rel="drawer" data-align="left" data-icon="drawer-button"></a> 
        </div>
    </header>

    <div class="cabecera-menu">
        <img src="styles/LogoLaPositivaInterno.png" alt="">
    </div>
    <div class="cabecera-cuerpo">
        <div> <span class="spanLogo" onclick="redireccion(1);">
            <i class="fa fa-suitcase i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Mis Pólizas</span></div>
        <div> <span class="spanLogo" onclick="redireccion(2);">
            <i class="fa fa-money i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Pagos Pendientes</span></div> 
        <div> <span class="spanLogo" onclick="redireccion(3);">
            <i class="fa fa-wrench i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Asistencia</span></div> 
        <div> <span class="spanLogo" onclick="redireccion(4);">
            <i class="fa fa-building i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Oficinas</span></div>  
        <div> <span class="spanLogo" >
            <i class="fa fa-address-book-o i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Mis Casos (*)</span></div>  
        <div> <span class="spanLogo" >
            <i class="fa fa-car i-logo-menu" aria-hidden="true"></i></span> <span class="spanTxt">Siniestros (*)</span></div>  
    </div>


</div>