    <!-- Listado Polizas -->
    <div id="polizasScreen" data-role="view" data-title="View" data-layout="main" data-model="app.polizas" data-show="app.polizas.onShow" data-after-show="app.polizas.afterShow"  class="screen">
        <header data-role="header">
            <div data-role="navbar" class="header-text cabeceras-principales"> 
                <span>Mis Pólizas</span> 
                <a data-role="button" class="btn-navegacion" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a> 
            </div>
        </header> 

        <div id="listado-polizas" data-role="scroller" data-elastic="false" data-content-height="100%"> 
        </div>

    </div>
    
    <!-- Detalle Polizas -->
    <div id="detallePoliza" data-role="view" data-title="Detalle Póliza" data-layout="main" data-model="app.polizas"  class="screen"> 
        <header data-role="header">
            <div data-role="navbar" class="header-text cabeceras-principales">
                <span>Detalle Póliza</span> 
                <a id="backbutton" data-role="backbutton" data-align="left" class="btn-navegacion"><i class="fa fa-undo" aria-hidden="true"></i></a>
            </div>
        </header>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">  
                <li class="form-content-item"> 
                    <label id="userField" class="field field--text">
                        <span class="field__label"><b>Póliza</b></span>  
                        <input readonly="true" id="NroPoliza" type="text"> 
                    </label>
                </li>
                <!--li class="form-content-item">  
                    <label id="documentTypeField" class="field field--text">
                        <span class="field__label"><b>Aseguradora</b></span>  
                        <input readonly="true" id="AseguradoraNombre" type="text"> 
                    </label>
                </li-->
                <li class="form-content-item"> 
                    <label id="RamoField" class="field field--text">
                        <span class="field__label"><b>Ramo</b></span>  
                        <input readonly="true" id="Ramo" type="text"> 
                    </label>
                </li>
                <li class="form-content-item"> 
                    <label id="documentNumberField" class="field field--text">
                        <span class="field__label"><b>Contratante</b></span>   
                        <textarea name="Contratante" id="Contratante" cols="10" rows="3"></textarea>
                    </label>
                </li> 
                <li class="form-content-item"> 
                    <label id="lastNameField" class="field field--text">
                        <span class="field__label"><b>Moneda</b></span>  
                        <input readonly="true" id="Moneda" type="text"> 
                    </label>
                </li>
                <li class="form-content-item"> 
                    <label id="vigenciaInicialField" class="field field--text">
                        <span class="field__label"><b>Vigencia</b></span>   
                        <textarea name="vigencia" id="vigencia" cols="10" rows="3"></textarea>
                    </label>
                </li> 
                <li class="form-content-item"> 
                    <label id="middleNameField" class="field field--text">
                        <span class="field__label"><b>Descripción</b></span>  
                        <input readonly="true" id="MateriaSeguro" type="text"> 
                    </label>
                </li> 
                
            </ul> 
        </form> 

    </div>